<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd
">
    <!-- 该 BeanPostProcessor 将自动起作用，对标注 @Autowired 的 Bean 进行自动注入 -->   
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>   
    <bean id="duke" class="com.taobao.shuijin.springstudy.javabeanshow.Juggler"></bean>
    <bean id="cuke" class="com.taobao.shuijin.springstudy.javabeanshow.Juggler">
    	<constructor-arg value="16" />
    </bean>
    <bean id="soonet" class="com.taobao.shuijin.springstudy.javabeanshow.Sonnet29">
    	<constructor-arg value="白日依山尽，黄河入海流" />
    </bean>
    <bean id="poeticDuke" class="com.taobao.shuijin.springstudy.javabeanshow.PoeticJuggler">
    	<constructor-arg value="25" />
    	<constructor-arg ref="soonet" />
    </bean>
    <bean id="ticket" class="com.taobao.shuijin.springstudy.javabeanshow.Ticket" scope="prototype">
    </bean>
    
    <bean id="theStage" class="com.taobao.shuijin.springstudy.javabeanshow.Stage" factory-method="getInstance">
    </bean>
</beans>